#color-div {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: 33% 33%;
    justify-content: space-around;
    height: 70vh;
}

.color-btn {
    margin-top: 35px;
    padding: 70px;
    border-radius: 100%;
    border: solid 10px cornflowerblue;
    border-style: ridge;
}
 h1 {
    font-size: 5rem;
    text-align: center;
    text-decoration: underline;
    margin-top: 25px;
 }
 .info {
    margin-right: 20px;
    padding: 20px;
    float: left;
    width: 20%;
    height: 100vh;
    background-color: #2589bd;
 }
 .art {
    padding-top: 20px;
 }

 .nav-buttons {
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    left: 50%;
 }